chatbot/.env
venv/
*.pyc
__pycache__/
vector_db/
tag_embeddings/
CHATBOT/
Dosyalar/
Veri_setleri_14.06.2025/
chatbot_feedback.db
type_embeddings_cache.pkl
pirireis.edu.tr.crt.key
pirireis.edu.tr.crt.txt
pirireis.edu.tr.csr
pirireis.edu.tr.key
pirireis.edu.tr.pfx
pirireis.edu.tr.txt
chatbot/type_embeddings_cache.pkl
.venv/
.venv310/
.venv311/
chatbot_feedback.db
chatbot/vector_db
chatbot/utils/.env